/*********************TAG SELECTORS***************/

body {
    background-color: #CFF5E7;
}

hr {
    border-style: none none dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
}

h3 {
    color: #FEBE8C;
}

img:hover {
    background-color: whitesmoke;
}

/*********************CLASS SELECTORS - OVERRIDES TAGS***************/
/**Classes can only be defined multiple times in one page - it is used to join a group of related items**/

.newcastle {
    background-color: red;
    height: 75px;
    width: 75px;
}

.python {
    height: 75px;
    width: 75px; 
}

.profilepic:hover {
    background-color: transparent;
    height: auto;
    width: auto;
}

/*********************ID SELECTORS - OVERRIDES TAGS***************/
/**IDs can only be defined once per page - they are used to to define a single instance of an item on a page**/
#heading {
    color: rgb(101, 200, 224);
}